@use '@mixin' as *;

.text {
    display: inline-block;
    font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'メイリオ', Meiryo, sans-serif;
    line-height: 1.25;
}
$colors: ( white_1, blue_1, );
.color {
    @each $color in $colors {
        &-#{$color} {
        color: var(--#{$color});
        }
    }
}
.font-size {
    &-8 {
        font-size: .8rem;
    }
    &-12 {
        font-size: 1.2rem;
    }
    &-14 {
        font-size: 1.4rem;
    }
    &-16 {
        font-size: 1.6rem;
    }
    &-18 {
        font-size: 1.8rem;
    }
    &-20 {
        font-size: 2rem;
    }
    &-24 {
        font-size: 2.4rem;
    }
    &-32 {
        font-size: 3.2rem;
    }
    &-64 {
        font-size: 6.4rem;
    }
}
.font-weight {
    &-300 {
        font-weight: 300;
    }
    &-600 {
        font-weight: 600;
    }
}
.align-items {
    &-flex-end {
        align-items: flex-end;
    }
}
.line-height {
    &-100 {
        line-height: 1;
    }
    &-125 {
        line-height: 1.25;
    }
    &-150 {
        line-height: 1.5;
    }
}
.flex-shrink {
    &-0 {
        flex-shrink: 0;
    }
}
.icon {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    display: grid;
    place-content: center;
    &-color {
        &-yellow_2 {
            background-color: var(--yellow_2);
            * {
                fill: var(--white_1);
            }
        }
        &-yellow_green_2 {
            background-color: var(--yellow_green_2);
            * {
                fill: var(--white_1);
            }
        }
        &-purple_2 {
            background-color: var(--purple_2);
            * {
                fill: var(--white_1);
            }
        }
        &-orange_2 {
            background-color: var(--orange_2);
            * {
                fill: var(--white_1);
            }
        }
        &-red_2 {
            background-color: var(--red_2);
            * {
                fill: var(--white_1);
            }
        }
        &-blue_green_2 {
            background-color: var(--blue_green_2);
            * {
                fill: var(--white_1);
            }
        }
        &-purple_pink_2 {
            background-color: var(--purple_pink_2);
            * {
                fill: var(--white_1);
            }
        }
        &-green_2 {
            background-color: var(--green_2);
            * {
                fill: var(--white_1);
            }
        }
        &-black_1 {
            svg *{
                fill: var(--black_1);
            }
        }
    }
    svg {
        width: 3rem;
        height: 3rem;
    }
    &-size {
        &-20 {
            width: 2rem;
            height: 2rem;
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
.width {
    &-60 {
        width: 6rem;
    }
    &-66 {
        width: 6.6rem;
    }
    &-70 {
        width: 7rem;
    }
    &-80 {
        width: 8rem;
    }
    &-110 {
        width: 11rem
    }
}
.leader {
    &-2 {
        @include leader(2);
    }
    &-4 {
        @include leader(4);
    }
}
.padding {
    &-0 {
        &-16 {
            padding: 0 1.6rem;
        }
    }
}
.text-align {
    &-left {
        text-align: left;
    }
}
.white-space {
    &-pre-wrap {
        white-space: pre-wrap;
    }
}
.word-break {
    &-break-all {
        word-break: break-all;
    }
    &-keep-all {
        word-break: keep-all;
    }
    &-break-word {
        word-break: break-word;
    }
    &-normal {
        word-break: normal;
    }
}
.letter-spacing {
    &--004 {
        letter-spacing: -0.04em;
    }
}
